{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}

<!-- Main -->
<main class="container">
  <article>
    <div class="row">
      <div class="col-md-8">
        <h2>{{this.title}}</h2>
        <p>{{ this.body }}</p>
      </div>
      <div class="col-md-4">
        {% set images = this.attachments.images.all() %}
        {% set image = this.attachments.images.first() %}
        {% if image %}
        <img src="{{ image.thumbnail(640)|url }}" alt="Natalie">
        {% endif %}
      </div>
    </div>
  </article>
</main><!-- ./ Main -->

{% endblock %}