<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
  content="A small portfolio of my published work. I source content, co-ordinate and style photo shoots and compile product editorials." />
<meta name="keywords"
  content="interior photography, home staging, styling, editorial content, writing, interior design">

<!-- Pico.css -->
<link rel="stylesheet" href="{{ '/static/pico-bootstrap-grid.css'|url }}">

<!-- Custom template-->
<link rel="stylesheet" href="{{ '/static/custom.css'|url }}">

<!--<title>{% block title %}Natalie Boruvka{% endblock %}</title>-->

<!-- Favicon thank you https://realfavicongenerator.net-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/apple-touch-icon.png'|url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon-32x32.png'|url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon-16x16.png'|url }}">
<link rel="manifest" href="{{ '/static/site.webmanifest'|url }}">
<link rel="mask-icon" href="{{ '/static/safari-pinned-tab.svg'|url }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<body>
  <!-- Nav -->
  <nav class="container-fluid">
    <ul>
      <li>
        <a href="{{ '/'|url }}">
          <img src="{{ '/static/natalie-boruvka-logo.svg'|url }}" width="286" height="70">
        </a>
      </li>
    </ul>
    <ul>
      <li{% if this._path=='/' %} class="navbar-item" {% endif %}><a href="{{ '/'|url }}">Portfolio</a></li>
        {% for href, title in [
        ['/about', 'About'],
        ['/contact', 'Contact']
        ] %}
        <li{% if this.is_child_of(href) %} class="navbar-item" {% endif %}><a href="{{ href|url }}">{{ title }}</a>
          </li>
          {% endfor %}
    </ul>
  </nav><!-- ./ Nav -->

  <!-- Main -->
  <main class="container">
    {% block body %}
    {% endblock %}
  </main><!-- ./ Main -->

  <!-- Footer -->
  <footer class="container">
    <small>&copy; Copyright 2022 Natalie Boruvka</small>
  </footer><!-- ./ Footer -->

</body>