{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}

<!-- Main -->
<main class="container-fluid">

  {% set documents = this.attachments.documents.all() %}
  {% set images = this.attachments.images.all() %}

  <article class="grid">
    <div class="row">

      <h2>{{this.name}}</h2>
      <p>{{ this.description }}</p>

      {% if images %}
      {% for image in images %}
      <figure class="container">
        <img src="{{ image.thumbnail(2000, quality=80)|url }}" width="100%" alt="Photo showing the article {{ this.name }}">
      </figure>
      {% endfor %}
      {% endif %}
      
      <figcaption>
        {{ this.publication }}
        {% if this.website %}
        <a href="{{ this.website }}">({{ this.website.host }})</a>
        {% endif %}
      </figcaption>
      <br>
      {% if documents %}
      {% for document in documents %}
      <p>
        <a href="{{document._id}}" target="_blank" role="button"> Download pdf</a>
      </p>

      {% endfor %}
      {% endif %}

    </div>
  </article>
</main><!-- ./ Main -->

{% endblock %}