{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}

<!-- Main -->
<main class="container-fluid">

  {% set documents = this.attachments.documents.all() %}
  {% set images = this.attachments.images.all() %}

  <article class="grid">
    <div class="row">

      <h2>{{this.name}}</h2>
      <p>{{ this.description }}</p>

      {% if this.cover_image %}
      {% set image = this.cover_image %}
      <div class="container-fluid">
        <!--TODO fine-tune responsive image sizes-->
        <img src="{{ image | imagessrcjpg }}" width="100%" height="{{ image | firstheight }}"
          srcset="{{ image | imagessrcsetjpg }}" alt="Photo showing the article {{ this.name }}" />
      </div>
      {% endif %}
      
      <figcaption>
        {{ this.publication }}
        {% if this.website %}
        <a href="{{ this.website }}">({{ this.website.host }})</a>
        {% endif %}
      </figcaption>
      <br>
      {% if documents %}
      {% for document in documents %}
      <p>
        <a href="{{document._id}}" target="_blank" role="button"> Download pdf</a>
      </p>

      {% endfor %}
      {% endif %}

    </div>
  </article>
</main><!-- ./ Main -->

{% endblock %}