{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}

<!-- Main -->
<main class="container-fluid">

  <h2>Portfolio</h2>
  <div class="container text-center">
    {% for project_row in this.children | batch(2) %}
    <div class="row">
      {% for project in project_row %}
      <div class="project col-md-6">
        <a href="{{ project|url }}">
          {% if project.cover_image %}
          {% set image = project.attachments.get(project.cover_image) %}
          <div class="frame">
            <!--TODO make these thumnails correct sizes for each CSS breakpoint-->
            <img src="{{ image.thumbnail(1070)|url }}" width="100%" alt="">
          </div>
          <h6>{{ project.name }}</h6>
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

</main><!-- ./ Main -->
{% endblock %}